.subject-select-card {
  width: 220px;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  border: 2px solid #ccc;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  background: #fff;
}

.subject-select-card:hover {
  border-color: #007bff;
}

.subject-select-card.selected {
  border-color: #007bff;
  background: #e8f1ff;
}

.subject-select-card h3 {
  margin-bottom: 10px;
}

.subject-select-card input {
  transform: scale(1.3);
  cursor: pointer;
}
.subject-code{
  color: aqua;
  font-size: medium;
  font-weight: 300;
  text-align: center;
}