.subject-select-page {
  padding: 20px;
  text-align: center;
}
.subject-header{
  color: #007bff;
  text-align: center;
}
.subject-header h2 span{
  color: chartreuse;
}

.subject-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.save-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.save-btn:hover {
  background: #005fcc;
}
